/*responsive design part*/

@media only screen and (min-width: 656px) {
  .nav-head {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 943px) {
  body {
    background-position-y: 7rem !important;
  }

  .nav-menu {
    border-top: 0.05em solid rgba(204, 178, 76, 0.5);
  }

  main .intro {
    margin-top: 8rem !important;
    flex-direction: column !important;
  }

  .intro h1, .intro h1+p {
    text-align: center;
  }

  .intro div:nth-child(1) {
    order: 1 !important;
  }

  .intro-text {
    padding: 0.5rem !important;
  }
  
}

@media only screen and (max-width: 656px) {
  
  .header {
    flex-direction: column !important;
  }

  .nav-slogan {
    display: none;
  }

  .nav-head {
    text-align: center;
    align-self: center;
  }


  .nav-menu-item {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }



}

@media only screen and (max-width: 320px) {

  .nav-menu i {
      display: none;
    }
}
