/*
  theme color:
  brown #CCB24C; hay #F7D683; skin #FFFDC0; white #FFFFFD; blue #457D97;
*/
@import url(responsive.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url(../img/dreamcatcher.jpg) no-repeat fixed center 3rem;
  background-size: 27rem;
  height: 100%;
  font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/*navigation and its responsive design*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  background: #FFFDC0;
  justify-content: space-between;
  flex-flow: row wrap;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(224,223,204,1);
  -moz-box-shadow: 0px 4px 10px 0px rgba(224,223,204,1);
  box-shadow: 0px 4px 10px 0px rgba(224,223,204,1);
}

.child {
  flex-grow: 1;
}

.nav-menu {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  flex-grow: 1;
  text-align: center;
  align-self: center;
}

.nav-menu-item {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #7e7e62;
  height: 100%;
  padding: 0.9rem 0.2rem;
  font-weight: 800;
  font-family: 'dosis', sans-serif;
}

.active, .nav-menu-item:hover {
  background-color: #F7D683;
  color: #FFFDC0;
}

.nav-menu a:hover {
  transition: color 0.4s;
}

.nav-menu i {
  vertical-align: middle;
  padding-right: 0.1rem;
}

.nav-menu span {
  vertical-align: middle;
}

.nav-head {
  padding: 0.2rem;
  cursor: pointer;
  flex: initial;
  width: 12rem;
  font-family: 'Lobster', cursive;
}

.nav-head img {
  vertical-align: middle;
}

.nav-head span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
  color: #7e7e62;
}

.nav-slogan {
  flex-grow: 3;
  align-self: center;
  color: #CCB24C;
}



