/*
  theme color:
  brown #CCB24C; hay #F7D683; skin #FFFDC0; white #FFFFFD; blue #457D97;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(../img/dreamcatcher.jpg) no-repeat fixed center 3rem;
  background-size: 27rem;
  height: 100%;
  font-family: 'Raleway', "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

h2, h3, h4, h5 {
  font-family: 'dosis', sans-serif;
  padding: 0.5rem;
  text-align: center;
  overflow: hidden;
  margin-top: 1rem;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
  padding-left: 0.6rem;
  text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.5), -0.5px -0.5px 1px rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 2.5rem;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  color: rgba(255,255,255,0.9);
  text-transform: uppercase;
}

h2:before,
h2:after {
 background-color: rgba(255,255,255,0.7);
 content: "";
 display: inline-block;
 height: 3px;
 position: relative;
 vertical-align: middle;
 width: 40%;
}

h2:before {
 right: 1em;
 margin-left: -50%;
}
h2:after {
 left: 1em;
 margin-right: -50%;
}

h4 {
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
}

p {
  padding: 0.5rem;
  line-height: 1.5rem;
}
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

/*navigation*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFDC0;
  justify-content: space-between;
  flex-flow: row wrap;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(224,223,204,1);
  -moz-box-shadow: 0px 4px 10px 0px rgba(224,223,204,1);
  box-shadow: 0px 4px 10px 0px rgba(224,223,204,1);
  z-index: 99;
}

.child {
  flex-grow: 1;
}

.nav-menu {
  list-style-type: none;
  flex-grow: 1;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-menu li {
  flex-grow: 1;
  text-align: center;
  align-self: center;
}

.nav-menu-item {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #7e7e62;
  height: 100%;
  padding: 0.9rem 0.2rem;
  font-weight: 800;
  font-family: 'dosis', sans-serif;
}

.active, .nav-menu-item:hover {
  background-color: #F7D683;
  color: #FFFDC0;
}

.nav-menu a:hover {
  transition: color 0.4s;
}

.nav-menu i {
  vertical-align: middle;
  padding-right: 0.1rem;
}

.nav-menu span {
  vertical-align: middle;
}

.nav-head {
  padding: 0.2rem;
  cursor: pointer;
  flex: initial;
  width: 12rem;
  font-family: 'Lobster', cursive;
}

.nav-head img {
  vertical-align: middle;
}

.nav-head span {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: middle;
  color: #7e7e62;
}

.nav-slogan {
  flex-grow: 3;
  align-self: center;
  color: #CCB24C;
}

/*main-intro*/
main {
  margin-bottom: 2rem;
}

.intro {
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: rgba(119,115,138, 0.80);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  margin-top: 6rem;
  width: 80%;
  z-index: 89;
  box-shadow: 0px 2px 2px 1px rgba(255, 255, 255, 0.5);
}

.intro div:nth-child(1) {
  order: 3;
}

.intro-img {
  flex-shrink: 2;
  vertical-align: middle;
  width: 15rem;
  opacity: 0.9;
  margin: 1rem;
  border-radius: 100%;
  box-shadow: 2px 2px 8px rgba(219, 218, 218, 0.5), -2px -2px 8px rgba(219, 218, 218, 0.5);
  filter: brightness(130%);
}

.intro-text {
  order: 2;
  flex: 9;
}

.intro-text div {
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color :#FFFFFD;
  text-align: justify;
  border-top: 4px double #FFFDC0;
  border-bottom: 4px double #FFFDC0;
  font-size: 1.2rem;
}

.intro-text h1+p {
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.5), -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
  font-style: italic;
  font-weight: 600;
}

/*profiles*/
.column-layout {
  width: 80%;
  flex-flow: column wrap;
  margin-top: -1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.profile {
  background: rgba(208,146,133,0.8);
  z-index: 70;
}

.profile-title span {
  font-size: 1.5rem;
  color: rgba(164,152,80,1);
  display: inline-block;
  background: rgba(255,255,255,0.9);
  padding: 2px 20px;
  border: 2px solid rgba(255,255,255,0.9);
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1px rgba(255,255,255,0.9);
  margin-bottom: 2rem;
}

.profile-skill {
  width: 85%;
  margin: 1rem auto;
}

.skill-list {
  width: 100%;
  margin: 0 auto;
}

.skill-list-item {
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skill-item_name {
  flex-grow: 1;
  padding-left: 1rem;
  flex-basis: 200px;
  font-size: 1rem;
  color: rgba(255,255,255,0.9);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.skill-item_name i {
  font-size: 2rem;
  vertical-align: middle;
  text-align: center;
}

.smaller-icon i {
  font-size: 1.5rem;
} 

.skill-item_name span {
  display: inline-block;
  font-weight: 700;
  margin-left: 0.5rem;
}

.skill-item_progress, .skill-item_progress-percent {
  height: 1.5rem;
  border-radius: 10px;
}

.skill-item_progress {
  flex-grow: 2;
  flex-basis: 350px;
  border: 1px solid white;
  background: white;
  z-index: 10;
  height: 10%;
}

.skill-item_progress-percent {
  background: repeating-linear-gradient(125deg, rgb(146, 159, 175) 0px, rgb(146, 159, 175) 15px, rgb(144, 102, 114) 15px, rgb(144, 102, 114) 30px);
  z-index: 1;
  position: relative;
  animation: Gradient 2s ease-in-out infinite;
  transition: all 2s linear;
}

@keyframes Gradient { 
  0%{background: repeating-linear-gradient(125deg, rgb(146, 159, 175) 0px, rgb(146, 159, 175) 15px, rgb(144, 102, 114) 15px, rgb(144, 102, 114) 30px)}
  50%{background: repeating-linear-gradient(125deg, rgb(146, 159, 175) 15px, rgb(146, 159, 175) 30px, rgb(144, 102, 114) 30px, rgb(144, 102, 114) 45px)}
  100%{background: repeating-linear-gradient(125deg, rgb(146, 159, 175) 30px, rgb(146, 159, 175) 45px, rgb(144, 102, 114) 45px, rgb(144, 102, 114) 60px)}
}

.skill-item_progress-percent p {
  text-align: right;
  position: absolute;
  transform: translateY(-50%); 
  top: 50%;
  right: 2%;
  color: white;
  font-weight: bold;
}

.p90 {
  width: 90%;
}

.p80 {
  width: 80%;
}

.p70 {
  width: 70%;
}

.p60 {
  width: 60%;
}

.p50 {
  width: 50%;
}


.icon-list {
  width: 85%;
  margin: 10px auto;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.tool-item {
  padding: 5px;
}

.tool-img {
  height: 3rem;
  margin: 5px;
  opacity: 0.7;
}

.interest-items {
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 10px;
  min-width: 130px;
}

.interest-items figcaption {
  font-size: 0.8rem;
  color: rgba(255,255,255,0.9);
}

.svg-file {
  height: 50px;
  margin: 10px 10px;
}

.life {
  background: rgba(144,102,114, 0.8);
  z-index: 60;
  border-radius: 0 0 1rem 1rem;
}

.life-title {
  margin: 0 auto;
  text-align: center;
}

.life-title h3 {
  display: inline-block;
  width: 41%;
  background: white;
  margin: 3%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 2s ease;
  color: rgba(132,187,190,0.9);
}

.life-title h3:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

.experience {
  width: 90%;
  background: rgba(132,187,190,0.5);
  margin: 0 auto;
  color: rgba(255,255,255,0.9);
  border-radius: 1rem;
  border: 0.3rem double rgba(255, 255, 255, 0.5);
  text-align: justify;
  padding: 0.3rem 0.1rem;
}

.experience-title {
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(255,255,255,0.9);
  transition: background-color 1s ease;
}

.experience-title:hover {
  background-color: rgba(132,187,190,0.8);
  cursor: pointer;
}

.experience-content {
  display: none;
  transition: display 2s;
  border-bottom: 0.1rem solid rgba(255,255,255,0.9);
  background-color: rgba(132,187,190,0.7);
  padding: 1rem;
  font-size: 0.9rem;
}

#outside-work {
  display: none;
  padding: 1rem;
  letter-spacing: 2px;
}

#outside-work time {
  display: inline-block;
  font-weight: bold;
  color: rgba(255,255,255,0.9);
  font-size: 1.05rem;
  font-family: 'dosis', sans-serif;
  text-align: right;
  width: 95px;
  margin-right: 1rem;
}

#outside-work li {
  padding: 0.5rem;
  font-size: 0.9rem;
  word-break: break-all;
}

.footer {
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #FFFDC0;
  color: #CCB24C;
  font-family: 'dosis', sans-serif;
  box-shadow: 0px -4px 10px 0px rgba(224,223,204,1)
}

.footer > div {
  margin: 0.5rem 1rem;
}

.footer > div > div {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0.5rem 1rem;
  flex-grow: 1;
}

.footer > div > div:first-child a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #CCB24C;
}

.contact-container {
  flex-flow: row;
}

.contact-container li {
  flex-basis: 4rem;
  display: inline-block;
  margin: 1rem;

}

.contact-container li i {
  font-size: 2.5rem;
  color: rgb(192, 173, 99);
}

.footer > div > div:first-child a:hover, .contact-container li i:hover {
  color: #7e7e62;
  transition: color 1s;
}

/*responsive design part*/

@media only screen and (min-width: 656px) {
  .nav-head {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 917px) {
  body {
    background-position-y: 7rem;
  }

  .nav-menu {
    border-top: 0.05em solid rgba(204, 178, 76, 0.5);
  }

  .intro {
    margin-top: 8rem;
    flex-direction: column;
  }

  .intro h1, .intro h1+p {
    text-align: center;
  }

  .intro div:nth-child(1) {
    order: 1;
  }

  
}

@media only screen and (max-width: 656px) {
  
  .header {
    flex-direction: column;
    box-shadow: 0px 4px 10px 0px rgba(224,223,204,0.8);
  }

  h1 {
    font-size: 1.6rem;
  }

  main {
    width: 100%;
  }

  .intro-img {
    width: 13rem;
  }

  .nav-slogan {
    display: none;
  }

  .nav-head {
    text-align: center;
    align-self: center;
  }

  .nav-menu-item {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .intro {
    width: 100%;
    margin-top: 6rem;
    border-radius: 0;
    padding: 10px;
    background-color: rgba(255, 199, 57, 0.80);
    box-shadow: 0px 0px 3px 3px rgba(224,223,204,0.8);
  }

  .intro-content {
    font-size: 1rem;
  }

  .column-layout {
    width: 100%;
    padding-bottom: 2rem;
  }

  .profile-skill {
    width: 100%;
  }

  .skill-list {
    width: 85%;
  }

  .footer > div {
    margin: 0.3rem;
  }

  .footer > div > div {
    font-size: 1rem;
  }

  .footer > div > div:first-child a {
    font-size: 1rem;
  }

  .contact-container li {
    margin: 0.8rem;
  }

  .contact-container li i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  h3 {
    font-size: 1rem;
  }

  .intro-content {
    font-size: 0.8rem;
  }

  .intro-text h1+p {
    font-size: 0.9rem;
  }

  .icon-list {
    width: 95%;
  }

  .tool-img {
    height: 2rem;
  }

  .profile-title span {
    font-size: 1.2rem;
    border-radius: 0;
    width: 100%;
  }

  .skill-item_name {
    font-size: 0.8rem;
    flex-basis: 160px;
    padding-left: 0;
  }

  .skill-item_progress {
    flex-basis: 150px;
  }

  .interest-items {
    margin: 5px 5px;
  }
}

@media only screen and (max-width: 320px) {

  .nav-menu i {
      display: none;
    }
}

